<article class="article">
  <div class="article__in animate-section">
    <p>Співпраця вилилося в альбом Freaky Styley, який вийшов в серпні 1985 р. і мав трохи більший успіх, ніж його
      попередник. Музика і тексти пісень багато в чому відбивали пристрасть музикантів до героїну, що почалася в цей
      період. Незважаючи на відсутність у публіки інтересу до диска. гурт був ним задоволений. Тоді ж Red
    </p>
    <h1 class="turquoise">Працювали для</h1>
    <p>
      Продюсером наступного альбому виступив відомий музикант Джордж Клінтон, який вдало знайшов «звук» гурту із
      панку, фанку та інших стилів. Співпраця вилилося в альбом Freaky Styley, який вийшов в серпні 1985 р. і
      мав трохи більший успіх, ніж його попередник. Музика і тексти пісень багато в чому відбивали пристрасть
      музикантів до героїну, що почалася в цей період. Незважаючи на відсутність у публіки інтересу до диска,
      сам гурт був ним задоволений. Тоді ж Red Hot Chili Peppers з'явилися у фільмах Tough Guys і
    </p>
    <img src="img/article_big.jpg" alt="">
    <p>
      Продюсером наступного альбому виступив відомий музикант Джордж Клінтон, який вдало знайшов «звук» гурту із
      панку, фанку та інших стилів. Співпраця вилилося в альбом Freaky Styley, який вийшов в серпні 1985 р. і
      мав трохи більший успіх, ніж його попередник. Музика і тексти пісень багато в чому відбивали пристрасть
      музикантів до героїну, що почалася в цей період. Незважаючи на відсутність у публіки інтересу до диска,
      сам гурт був ним задоволений. Тоді ж Red Hot Chili Peppers з'явилися у фільмах Tough Guys і
    </p>
    <div class="article__small-img-wrapper">
      <img class="article__img-small" src="img/article_small_1.jpg" alt="">
      <img class="article__img-small" src="img/article_small_2.jpg" alt="">
    </div>
    <p>
      Продюсером наступного альбому виступив відомий музикант Джордж Клінтон, який вдало знайшов «звук» гурту із
      панку, фанку та інших стилів. Співпраця вилилося в альбом Freaky Styley, який вийшов в серпні 1985 р. і
      мав трохи більший успіх, ніж його попередник. Музика і тексти пісень багато в чому відбивали пристрасть
      музикантів до героїну, що почалася в цей період. Незважаючи на відсутність у публіки інтересу до диска,
      сам гурт був ним задоволений. Тоді ж Red Hot Chili Peppers з'явилися у фільмах Tough Guys і
    </p>
    <p>
      Продюсером наступного альбому виступив відомий музикант Джордж Клінтон, який вдало знайшов «звук» гурту із
      панку, фанку та інших стилів. Співпраця вилилося в альбом Freaky Styley, який вийшов в серпні 1985 р. і
      мав трохи більший успіх, ніж його попередник. Музика і тексти пісень багато в чому відбивали пристрасть
      музикантів до героїну, що почалася в цей період. Незважаючи на відсутність у публіки інтересу до диска,
      сам гурт був ним задоволений. Тоді ж Red Hot Chili Peppers з'явилися у фільмах Tough Guys і
    </p>
  </div>
</article>