<section class="contacts">
  <div class="contacts__in animate-section">
    <h2 class="contacts__title">Давайте знайомитись</h2>
    <div class="contacts__list">
      <div class="contacts__item">
        <div class="contacts__icon-wrapper">
          <svg class="icon icon-phone"><use xlink:href="img/svg/sprite.svg#icon-phone"></use></svg>
        </div>
        <a class="contacts__link" href="mailto:realstoriesproduction@gmail.com">380 50 334 78 31</a>
        <span class="divider"></span>
        <a class="contacts__link" href="mailto:realstoriesproduction@gmail.com">380 66 666 66 66</a>
      </div>

      <div class="contacts__item">
        <div class="contacts__icon-wrapper">
          <svg class="icon icon-email"><use xlink:href="img/svg/sprite.svg#icon-email"></use></svg>
        </div>
        <a class="contacts__link" href=”mailto:realstoriesproduction@gmail.com”><span>realstoriesproduction</span><span>@gmail.com</span></a>
      </div>

      <div class="contacts__item">
        <div class="contacts__icon-wrapper">
          <svg class="icon icon-home"><use xlink:href="img/svg/sprite.svg#icon-home"></use></svg>
        </div>
        м. Київ, вул. Хрещатик 27
      </div>
    </div>
    <div class="copyright">© RealStoriesProduction, 2018</div>
    <a href="https://demch.co/" class="developer-notes">Розробка сайту — demch.co</a>
  </div>
</section>