<div class="feedback" id="js-feedback">
    <div class="feedback__holder">
      <div class="feedback__close-btn" id="js-feedback-btn-close">
        <svg class="icon icon-cross"><use xlink:href="img/svg/sprite.svg#icon-cross"></use></svg>
      </div>
      <h2 class="feedback__title">Спiвпрацювати</h2>
      <p class="feedback__text">Опишіть в декількох словах ваш проект,
        ми зв'яжемося і розповімо, чим зможемо допомогти
      </p> 
      <form class="feedback__form">
        <div class="feedback__textarea-wrapper">
          <textarea placeholder="Декiлька слiв про ваш проект" class="feedback__textarea" name="text"></textarea>
        </div>  
          <input placeholder="Ваше iм’я" class="feedback__input" type="text" name="name">
          <input placeholder="Ваш телефон" class="feedback__input" type="phone" name="phone">
          <button class="button">
            Надіслати
            <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
          </button>
      </form>
      
    </div>
  </div>