<section class="filter light-block">
  <div class="filter__list">
    <a href="#" class="filter__item active">Все одразу</a>
    <a href="#" class="filter__item">Анімаційні фільми</a>
    <a href="#" class="filter__item">Відеопроекти</a>
    <a href="#" class="filter__item">Фотопроекти</a>
  </div>
  <div class="filter__controls">
    <a href="#" class="filter__controls-item">
      <svg class="icon icon-projects"><use xlink:href="img/svg/sprite.svg#icon-projects"></use></svg>
      Проектами
    </a>
    <a href="#" class="filter__controls-item active">
      <svg class="icon icon-separate"><use xlink:href="img/svg/sprite.svg#icon-separate"></use></svg>
      Окремими матерiалами
    </a>
  </div>
</section>

