<section class="horizontal-gallery" id="pinContainer">
  <div class="horizontal-gallery__content" id="slideContainer">
    <div class="horizontal-gallery__item">
      <span class="horizontal-gallery__counter">07</span>
      <div class="horizontal-gallery__img-wrapper">
        <img src="img/slider_1.jpg" class="horizontal-gallery__img" alt="">
      </div>
    </div>
    <div class="horizontal-gallery__item">
      <span class="horizontal-gallery__counter">07</span>
      <div class="horizontal-gallery__img-wrapper">
        <img src="img/assist_bg_dark.jpg" class="horizontal-gallery__img" alt="">
      </div>
    </div>
    <div class="horizontal-gallery__item">
      <span class="horizontal-gallery__counter">07</span>
      <div class="horizontal-gallery__img-wrapper">
        <img src="img/project_slider_2.jpg" class="horizontal-gallery__img" alt="">
      </div>
    </div>
    <div class="horizontal-gallery__item">
      <span class="horizontal-gallery__counter">07</span>
      <div class="horizontal-gallery__img-wrapper">
        <img src="img/slider_1.jpg" class="horizontal-gallery__img" alt="">
      </div>
    </div>
    <div class="horizontal-gallery__item">
      <span class="horizontal-gallery__counter">07</span>
      <div class="horizontal-gallery__img-wrapper">
        <img src="img/slider_1.jpg" class="horizontal-gallery__img" alt="">
      </div>
    </div>
    <div class="horizontal-gallery__item">
        <span class="horizontal-gallery__counter">07</span>
        <div class="horizontal-gallery__img-wrapper">
          <img src="img/slider_1.jpg" class="horizontal-gallery__img" alt="">
        </div>
      </div>
      <div class="horizontal-gallery__item">
        <span class="horizontal-gallery__counter">07</span>
        <div class="horizontal-gallery__img-wrapper">
          <img src="img/slider_1.jpg" class="horizontal-gallery__img" alt="">
        </div>
      </div>
  </div>
</section>