<section class="jumbotron-project">

  <div class="jumbotron-project__view">
    <img class="jumbotron-project__img" src="img/jumbotron_project_1366.jpg" alt="">
  </div>

  <div class="jumbotron-project__content">
    <div class="jumbotron-project__text-block">
      <a href="#" class="jumbotron-project__all-btn">
        <svg class="icon icon-arrow_left"><use xlink:href="img/svg/sprite.svg#icon-arrow_left"></use></svg>
        Усі проєкти
      </a>
      <h2 class="jumbotron-project__title">
        Маленька icторiя реальної доброчинностi
      </h2>
      <div class="jumbotron-project__info">
        <div class="jumbotron-project__row">
          <span class="jumbotron-project__label">жанр</span>
          <span class="jumbotron-project__text">Вiдеопроект, 6 cерiй</span>
        </div>
        <div class="jumbotron-project__row">
          <span class="jumbotron-project__label">клієнт</span>
          <span class="jumbotron-project__text">Асоцiацiя UMDPL</span>
        </div>
      </div>
    </div>

    <div class="jumbotron-project__footer">

      <a href="#layout" class="jumbotron-project__next-btn">
       <svg class="icon icon-arrow_bottom"><use xlink:href="img/svg/sprite.svg#icon-arrow_bottom"></use></svg>
      </a>

      <div class="social-media">
        <a href="#" class="social-media__item">
           <svg class="icon icon-twitter"><use xlink:href="img/svg/sprite.svg#icon-twitter"></use></svg>
        </a>
        <a href="#" class="social-media__item">
           <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
        </a>
        <a href="#" class="social-media__item">
           <svg class="icon icon-youtube"><use xlink:href="img/svg/sprite.svg#icon-youtube"></use></svg>
        </a>
      </div>
    </div>

  </div>

</section>