<section class="jumbotron-project jumbotron-contacts" >

  <div class="jumbotron-project__view">
    <div class="map" id="map"></div>
  </div>

  <div class="jumbotron-project__content">
    <div class="social-media">
      <a href="#" class="social-media__item">
         <svg class="icon icon-twitter"><use xlink:href="img/svg/sprite.svg#icon-twitter"></use></svg>
      </a>
      <a href="#" class="social-media__item">
         <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
      </a>
      <a href="#" class="social-media__item">
         <svg class="icon icon-youtube"><use xlink:href="img/svg/sprite.svg#icon-youtube"></use></svg>
      </a>
    </div>
    <h2 class="contacts__title">Напишiть, подзвонiть або заходьте у гостi</h2>
    <div class="contacts__list">
    <div class="contacts__item">
      <div class="contacts__icon-wrapper">
         <svg class="icon icon-phone"><use xlink:href="img/svg/sprite.svg#icon-phone"></use></svg>
      </div>
      <span>380 50 334 78 31</span>
      <span class="divider"></span>
      <span>380 66 666 66 66</span>
    </div>

     <div class="contacts__item">
      <div class="contacts__icon-wrapper">
         <svg class="icon icon-email"><use xlink:href="img/svg/sprite.svg#icon-email"></use></svg>
      </div>
      <span>realstoriesproduction</span><span>@gmail.com</span>
    </div>

     <div class="contacts__item">
      <div class="contacts__icon-wrapper">
         <svg class="icon icon-home"><use xlink:href="img/svg/sprite.svg#icon-home"></use></svg>
      </div>
      м. Київ, вул. Хрещатик 27
    </div>
  </div>
  <div class="copyright">© RealStoriesProduction, 2018</div>
  <a href="https://demch.co/" class="developer-notes">Розробка сайту — demch.co</a>

  </div>

</section>