<section class="jumbotron-main" id="jumbotron-main" data-vide-bg="mp4: video/ocean, webm: video/ocean, ogv: http://vodkabears.github.io/vide/video/ocean, poster: video/ocean"
data-vide-options="position: 0% 50%">

  <header class="jumbotron-main__header animation-secondary-items">
    <strong class="logo logo_main-jumbotron">
      <a href="#">
        Real stories
      </a>
    </strong>
    <nav class="jumbotron-main__nav">
      <a href="#" class="jumbotron-main__nav-item">
        <span class="jumbotron-main__nav-item-wrapper">Роботи</span>
      </a>
      <a href="#" class="jumbotron-main__nav-item">
         <span class="jumbotron-main__nav-item-wrapper">Команда</span>
      </a>
      <a href="#" class="jumbotron-main__nav-item">
         <span class="jumbotron-main__nav-item-wrapper">Преса</span>
      </a>
      <a href="#" class="jumbotron-main__nav-item">
         <span class="jumbotron-main__nav-item-wrapper">Контакти</span>
      </a>
    </nav>
    <div class="controls">
      <div class="search-btn js-search-modal-btn-open">
        <svg class="icon icon-search"><use xlink:href="img/svg/sprite.svg#icon-search"></use></svg>
      </div>
      <div class="mobile-nav-btn js-mobile-nav-btn-open">
          <span class="icon-menu"></span>
        </div>
    </div>
  </header>

  <div class="jumbotron-main__text-block" id="jumbotron-text">
    <p class="jumbotron-main__text">Розповiдаємо життєвi iсторiї, якi неможливо вигадати за допомогою відео, фото та анімації</p>
    <h1 class="jumbotron-main__title">Про права людини мовою мистецтва</h1>
  </div>

  <div class="jumbotron-main__footer animation-secondary-items">
    <div class="social-media">
      <a href="#" class="social-media__item">
         <svg class="icon icon-twitter"><use xlink:href="img/svg/sprite.svg#icon-twitter"></use></svg>
      </a>
      <a href="#" class="social-media__item">
         <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
      </a>
      <a href="#" class="social-media__item">
         <svg class="icon icon-youtube"><use xlink:href="img/svg/sprite.svg#icon-youtube"></use></svg>
      </a>
    </div>
    <a href="#layout" class="read-more" type="button">
      <div class="read-more__icon-holder">
        <svg class="icon icon-arrow_bottom"><use xlink:href="img/svg/sprite.svg#icon-arrow_bottom"></use></svg>
      </div>
      Дізнатися більше
    </a>
    <div class="language">
      <a href="#" class="language__item active">ukr</a>
      <a href="#"class="language__item">eng</a>
    </div>
  </div>
  
</section>