<div class="material">
      <a href="#" class="material__all-btn">
          <svg class="icon icon-arrow_left"><use xlink:href="img/svg/sprite.svg#icon-arrow_left"></use></svg>
          <span>Усі проєкти</span>   
      </a>
      <div class="material__bg"></div>
      <div class="material__in">
        <h2 class="material__title">Маленька icторiя реальної доброчинностi</h2>
        <div class="material__info">
          <div class="material__info-item">
            <span class="material__info-label">матеріал</span>
            <a href="#" class="material__info-text">1 серія</a>
          </div>
          <div class="material__info-item">
            <span class="material__info-label">жанр</span>
            <a href="#" class="material__info-text">Вiдеопроект, 6 cерiй</a>
          </div>
          <div class="material__info-item">
            <span class="material__info-label">клiент</span>
            <a href="#" class="material__info-text">Асоцiацiя UMDPL</a>
          </div>
        </div>
        <iframe class="material__video" src="https://www.youtube.com/embed/Pvn20PjBa3k?ecver=1" allowfullscreen></iframe>
        <div class="material__footer">
          <div class="sharing">
            <span class="sharing__text">Подiлитися:</span>
            <div class="likely likely_visible likely_ready">
              <div class="telegram">
                <svg class="icon icon-telegram"><use xlink:href="img/svg/sprite.svg#icon-telegram"></use></svg>
              </div>
              <div class="twitter">
                <svg class="icon icon-twitter"><use xlink:href="img/svg/sprite.svg#icon-twitter"></use></svg>
              </div>
              <div class="facebook">
                <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
              </div>
            </div>
          </div>
          
          <a href="#" class="all-project-btn">
          <span class="all-project-btn__text">Весь проэкт</span>
           <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
          </a>
        </div>
      </div>
  </div>