<div class="mobile-nav" id="js-mobile-nav">
  <div class="mobile-nav__close-btn" id="js-mobile-nav-btn-close">
   <svg class="icon icon-cross"><use xlink:href="img/svg/sprite.svg#icon-cross"></use></svg>
  </div>
  <nav class="mobile-nav__list">
    <a href="#" class="mobile-nav__item">Роботи</a>
    <a href="#" class="mobile-nav__item">Команда</a>
    <a href="#" class="mobile-nav__item">Преса</a>
    <div href="" class="mobile-nav__item js-feedback-btn-open">Контакти</div>
    <a href="#" class="mobile-nav__item js-search-modal-btn-open">
      <svg class="icon icon-search"><use xlink:href="img/svg/sprite.svg#icon-search"></use></svg>
      Пошук
    </a>
  </nav>
  <div class="social-media">
    <a href="#" class="social-media__item">
       <svg class="icon icon-twitter"><use xlink:href="img/svg/sprite.svg#icon-twitter"></use></svg>
    </a>
    <a href="#" class="social-media__item">
       <svg class="icon icon-facebook"><use xlink:href="img/svg/sprite.svg#icon-facebook"></use></svg>
    </a>
    <a href="#" class="social-media__item">
       <svg class="icon icon-youtube"><use xlink:href="img/svg/sprite.svg#icon-youtube"></use></svg>
    </a>
  </div>
  <div class="language">
    <a href="#" class="language__item active">ukr</a>
    <a href="#"class="language__item">eng</a>
  </div>
</div>