<section class="number-slider">
  <div class="number-slider__slides-holder">
    <div class="number-slider__item">
      <span class="number-slider__counter">489</span>
      <span class="number-slider__text">Продюсером наступного альбому виступив відомий</span>
    </div>
    <div class="number-slider__item">
      <span class="number-slider__counter">389</span>
      <span class="number-slider__text">Продюсером наступного альбому виступив відомий</span>
    </div>
    <div class="number-slider__item">
      <span class="number-slider__counter">289</span>
      <span class="number-slider__text">Продюсером наступного альбому виступив відомий</span>
    </div>
  </div>
</section>