<section class="partners">
  <div class="animate-section">
    <h2 class="partners__title">Працювали для</h2>

    <div class="partners__list">
      <a href="#" class="partners__item">
        <img  class="partners__logo-img" src="img/partner_1.png" alt="">
      </a>

      <a href="#" class="partners__item">
        <img  class="partners__logo-img" src="img/partner_2.png" alt="">
      </a>

      <a href="#" class="partners__item">
        <img  class="partners__logo-img" src="img/partner_3.png" alt="">
      </a>
    </div>

    <div class="partners__text-block">
      <p class="partners__text">
        За час нашого iснування ми пріоритетно працювали
        з громадськими та правозахисними організаціями,
        але залишаємось завжди відкритими для пропозицiй:
      </p>
      <a href="#" type="button" class="button">
        <span class="button__text">
          Спiвпрацювати з нами
          <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
        </span>
      </a>
    </div>
  </div>
</section>