<section class="press light-block">
  <div class="animate-section">
    <h2 class="press__title">Згадування у пресi</h2>
    <div class="press__list">
      <div class="press__item">
        <a href="#" class="press__logo-wrapper">
          <img src="img/press_1.jpg" alt=""class="press__logo">
        </a>
        <div class="press__text-block">
        <a href="#" class="press__program">Ти i полiцiя</a>
        <a href="#" class="press__sub-title">«Коли виходять справжнi професiонали»
          <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
        </a>
        <span class="press__data">27.08.21</span>
        </div>
      </div>

      <div class="press__item">
        <a href="#" class="press__logo-wrapper">
          <img src="img/press_1.jpg" alt=""class="press__logo">
        </a>
        <div class="press__text-block">
        <a href="#" class="press__program">Ти i полiцiя</a>
        <a href="#" class="press__sub-title">«Коли виходять справжнi професiонали»
          <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
        </a>
        <span class="press__data">27.08.21</span>
        </div>
      </div>

      <div class="press__item">
        <a href="#" class="press__logo-wrapper">
          <img src="img/press_1.jpg" alt=""class="press__logo">
        </a>
        <div class="press__text-block">
        <a href="#" class="press__program">Ти i полiцiя</a>
        <a href="#" class="press__sub-title">«Коли виходять справжнi професiонали»
          <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
        </a>
        <span class="press__data">27.08.21</span>
        </div>
      </div>

      <div class="press__item">
        <a href="#" class="press__logo-wrapper">
          <img src="img/press_1.jpg" alt=""class="press__logo">
        </a>
        <div class="press__text-block">
        <a href="#" class="press__program">Ти i полiцiя</a>
        <a href="#" class="press__sub-title">«Коли виходять справжнi професiонали»
          <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
        </a>
        <span class="press__data">27.08.21</span>
        </div>
      </div>

      <div class="press__item">
        <a href="#" class="press__logo-wrapper">
          <img src="img/press_1.jpg" alt=""class="press__logo">
        </a>
        <div class="press__text-block">
        <a href="#" class="press__program">Ти i полiцiя</a>
        <a href="#" class="press__sub-title">«Коли виходять справжнi професiонали»
          <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
        </a>
        <span class="press__data">27.08.21</span>
        </div>
      </div>
    </div>
  </div>
</section>