<section class="project-photo light-block">
  <div class="animate-section">
    <h2 class="project-photo__title">Що зробили</h2>
    <div class="project-photo__slider-wrapper">
      <div class="project-photo__slider" id="photo-slider">
      <div class="project-photo__slide">
        <img class="project-photo__img" src="img/project_slider_1.jpg" alt="">
        <div class="project-photo__slider-counter">
          <span class="project-photo__current-slide" data-current-slide></span>/
          <span class="project-photo__slider-quantity" data-quantity-slides></span>
        </div>
      </div>
      <div class="project-photo__slide">
        <img class="project-photo__img" src="img/project_slider_2.jpg" alt="">
        <div class="project-photo__slider-counter">
          <span class="project-photo__current-slide" data-current-slide></span>/
          <span class="project-photo__slider-quantity" data-quantity-slides></span>
        </div>
      </div>
      <div class="project-photo__slide">
        <img class="project-photo__img" src="img/project_slider_3.jpg" alt="">
        <div class="project-photo__slider-counter">
          <span class="project-photo__current-slide" data-current-slide></span>/
          <span class="project-photo__slider-quantity" data-quantity-slides></span>
        </div>
      </div>
      <div class="project-photo__slide">
        <img class="project-photo__img" src="img/project_slider_4.jpg" alt="">
        <div class="project-photo__slider-counter">
          <span class="project-photo__current-slide" data-current-slide></span>/
          <span class="project-photo__slider-quantity" data-quantity-slides></span>
        </div>
      </div>
    </div>
      <div class="project-photo__slider-btn project-photo__slider-btn_left" id="photo-slider-btn-left"></div>
      <div class="project-photo__slider-btn project-photo__slider-btn_right" id="photo-slider-btn-right"></div>
    </div>
  </div>
</section>