<div class="search-modal" id="js-search-modal">
  <div class="search-modal__close-btn" id="js-search-modal-btn-close">
    <svg class="icon icon-cross"><use xlink:href="img/svg/sprite.svg#icon-cross"></use></svg>
  </div>
  <form class="search-modal__form">
    <input class="search-modal__input" type="text" name="js-search" id="js-search">
    <button class="search-modal__search-btn">
      <svg class="icon icon-search"><use xlink:href="img/svg/sprite.svg#icon-search"></use></svg>
    </button>
  </form>
</div>