<section class="team">
  <div class="animate-section">
    <h2 class="team__title">Команда проекту</h2>
    <div class="team__list">

      <div class="member">
        <span class="member__counter">01</span>
        <div class="member__portrait-wrapper">
          <img class="member_portrait" src="img/portrait_1.png" alt="">
        </div>
        <span class="member__name">Олесь Перевольнов</span>
        <span class="member__role">Режисер</span>
        <div class="member__text-block">
          <p class="member__text">
            Коментар Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>

      <div class="member">
        <span class="member__counter">01</span>
        <div class="member__portrait-wrapper">
          <img class="member_portrait" src="img/portrait_1.png" alt="">
        </div>
        <span class="member__name">Олесь Перевольнов</span>
        <span class="member__role">Режисер</span>
        <div class="member__text-block">
          <p class="member__text">
            Коментар Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>

      <div class="member">
        <span class="member__counter">01</span>
        <div class="member__portrait-wrapper">
          <img class="member_portrait" src="img/portrait_1.png" alt="">
        </div>
        <span class="member__name">Олесь Перевольнов</span>
        <span class="member__role">Режисер</span>
        <div class="member__text-block">
          <p class="member__text">
            Коментар Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>


      <div class="member">
        <span class="member__counter">01</span>
        <div class="member__portrait-wrapper">
          <img class="member_portrait" src="img/portrait_1.png" alt="">
        </div>
        <span class="member__name">Олесь Перевольнов</span>
        <span class="member__role">Режисер</span>
        <div class="member__text-block">
          <p class="member__text">
            Коментар Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>


      <div class="member">
        <span class="member__counter">01</span>
        <div class="member__portrait-wrapper">
          <img class="member_portrait" src="img/portrait_1.png" alt="">
        </div>
        <span class="member__name">Олесь Перевольнов</span>
        <span class="member__role">Режисер</span>
        <div class="member__text-block">
          <p class="member__text">
            Коментар Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>