<section class="video-works light-block">
  <div class="animate-section">
    <h2 class="video-works__title">Що зробили</h2>
    <div class="video-works__in">

      <div class="video-works__item">
      <div class="video-works__holder">
        <a class="video-works__wrapper">
          <img class="video-works__image" src="img/video_small_1.jpg" alt="">
          <div class="video-works__play-button">
            <svg class="icon icon-delta_right"><use xlink:href="img/svg/sprite.svg#icon-delta_right"></use></svg>
          </div>
          <div class="video-works__time">05:13</div>
        </a>
        <span class="video-works__label">вiдеопроект</span>
      </div>
      </div>

      <div class="video-works__item">
      <div class="video-works__holder">
        <a class="video-works__wrapper">
          <img class="video-works__image" src="img/video_small_2.jpg" alt="">
          <div class="video-works__play-button">
            <svg class="icon icon-delta_right"><use xlink:href="img/svg/sprite.svg#icon-delta_right"></use></svg>
          </div>
          <div class="video-works__time">05:13</div>
        </a>
        <span class="video-works__label">вiдеопроект</span>
      </div>
      </div>

      <div class="video-works__item">
      <div class="video-works__holder">
        <a class="video-works__wrapper">
          <img class="video-works__image" src="img/video_small_3.jpg" alt="">
          <div class="video-works__play-button">
            <svg class="icon icon-delta_right"><use xlink:href="img/svg/sprite.svg#icon-delta_right"></use></svg>
          </div>
          <div class="video-works__time">05:13</div>
        </a>
        <span class="video-works__label">вiдеопроект</span>
      </div>
      </div>
      

      <div class="video-works__item">
      <div class="video-works__holder">
        <a class="video-works__wrapper">
          <img class="video-works__image" src="img/video_small_4.jpg" alt="">
          <div class="video-works__play-button">
            <svg class="icon icon-delta_right"><use xlink:href="img/svg/sprite.svg#icon-delta_right"></use></svg>
          </div>
          <div class="video-works__time">05:13</div>
        </a>
        <span class="video-works__label">вiдеопроект</span>
      </div>
      </div>


    </div>
  </div>
</section>