<section class="works works-separated light-block">
    <h2 class="works__title">Чим пишаємося</h2>
    <div class="works__in">

      <div class="work-card">
        <a href="#" class="work-card__holder">
          <div class="work-card__content">
            <div class="work-card__img-wrapper">
              <img class="work-card__img" src="img/project_list_item_1.jpg" alt="">
            </div>
             <div  class="work-card__text-block">
              <p class="work-card__text">Фільм-розслідування «На роздоріжжі»</p>
              <span class="work-card__sub-text">6 серія</span>
              <button class="work-card__btn">
                <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
              </button>
            </div>
           </div>
          <span class="work-card__type">вiдеопроект</span>
        </a>
      </div>

      <div class="work-card">
        <a href="#" class="work-card__holder">
          <div class="work-card__content">
            <div class="work-card__img-wrapper">
              <img class="work-card__img" src="img/project_list_item_2.jpg" alt="">
            </div>
             <div  class="work-card__text-block">
              <p class="work-card__text">Фільм-розслідування «На роздоріжжі»</p>
              <span class="work-card__sub-text">6 серія</span>
              <button class="work-card__btn">
                <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
              </button>
            </div>
           </div>
          <span class="work-card__type">вiдеопроект</span>
        </a>
      </div>

      <div class="work-card">
        <a href="#" class="work-card__holder">
          <div class="work-card__content">
            <div class="work-card__img-wrapper">
              <img class="work-card__img" src="img/project_list_item_3.jpg" alt="">
            </div>
             <div  class="work-card__text-block">
              <p class="work-card__text">Фільм-розслідування «На роздоріжжі»</p>
              <span class="work-card__sub-text">6 серія</span>
              <button class="work-card__btn">
                <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
              </button>
            </div>
           </div>
          <span class="work-card__type">вiдеопроект</span>
        </a>
      </div>

      <div class="work-card">
        <a href="#" class="work-card__holder">
          <div class="work-card__content">
            <div class="work-card__img-wrapper">
              <img class="work-card__img" src="img/project_list_item_4.jpg" alt="">
            </div>
             <div  class="work-card__text-block">
              <p class="work-card__text">Фільм-розслідування «На роздоріжжі»</p>
              <span class="work-card__sub-text">6 серія</span>
              <button class="work-card__btn">
                <svg class="icon icon-arrow_right"><use xlink:href="img/svg/sprite.svg#icon-arrow_right"></use></svg>
              </button>
            </div>
           </div>
          <span class="work-card__type">вiдеопроект</span>
        </a>
      </div>

    </div>
    <a href="#"> Дивитися усі проэкти</a>
  </section>